<div class="box-sticky">
    <blockquote class="twitter-tweet" data-lang="pt">
        <p lang="pt" dir="ltr">Galera, vou voltar a escrever para meu blog e gostaria de saber o que você mais gosta de
            ler em blog de desenvolvimento.</p>&mdash;
        Gabriel Feitosa (@gabfeitosa_) <a
            href="https://twitter.com/gabfeitosa_/status/1097166145264717827?ref_src=twsrc%5Etfw">17 de fevereiro de
            2019</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>